main {
  display: grid;
  justify-content: center;
}

svg {
  height: 50vh;
  width: 50vh;
  stroke-width: .25;
}

.no-fill {
  fill-opacity: 0;
}

.nonzero {
  fill-opacity: 100;
  fill-rule: nonzero;
}

.evenodd {
  fill-opacity: 100;
  fill-rule: evenodd;
}

section {
  width: 50vh;
}

#poly-slider-div {
  display: flex;
  justify-content: space-between;
}

#poly-slider {
  width: 80%;
}

#turn-buttons-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#turn-buttons-div input {
  justify-self: left;
}

#turn-buttons-div label {
  text-align: right;
  padding-right: .25rem;
}

.red-label {
  color: red;
}