main {
  display: grid;
  justify-content: center;
}

svg {
  height: 50vh;
  width: 50vh;
  stroke-width: .25;
}

section {
  width: 50vh;
}

#poly-slider-div {
  display: flex;
  justify-content: space-between;
}